.container{
    height: 50px;
    width: 100%;
    background-color:#1877f2;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.left{
    flex: 3;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.center{
    flex: 5;
}

.searchbar{
    height: 30px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    display: flex;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.right{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
    font-size: 12px;
}

.topbarImg{
    width: 32px;
    height: 32px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
}