.messenger{
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu{
    flex: 3.5;   
}

.chatMenuInput{
    border: none;
    border-bottom: 1px solid grey;
    width: 90%;
    padding: 10px 0;
}
.chatBox{
    flex: 5.5;   
    position: relative;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatBoxTop{
    height: 580px; ;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom{
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.chatTextArea{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chatOnline{
    flex: 3;   
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
    padding: 10px;
    height: 100%; 
}

.noChatText{
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(206, 204, 204);
    text-align: center;
    cursor: none;
}